@font-face {
  font-family: 'FirstTimeWriting';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/fonts/FirstTimeWriting.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
}
