@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;600;700;800;900&display=swap');

html {
  padding: env(safe-area-inset);
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(
    circle,
    rgba(43, 217, 255, 1) 0%,
    rgba(13, 106, 215, 1) 75%,
    rgba(0, 33, 71, 1) 100%
  );
}

main {
  min-height: 100dvh;
  height: 100%;
  width: 100%;
  display: flex;
}
