html {
  touch-action: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  touch-action: none;
  user-select: none;
}

main {
  height: 100dvh;
  width: 100%;
  overflow: auto;
  display: flex;
}
